@import url('http://fonts.cdnfonts.com/css/androgyne');

.header-img {
  width: 100%;
}

h1,
h2,
.error-message {
  text-align: center;
  font-family: 'Androgyne', sans-serif;
  color: gray;
}

h1 {
  font-size: 3rem;
}

.error-message {
  margin-top: 3rem;
  color: red;
  font-size: 2rem;
}

.flex-container-descriptions {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.btn-description {
  border: none;
  background: none;
  background-repeat: no-repeat;
  height: 60px;
  width: 270px;
  margin-top: 1rem;
}

.div-result {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
